<h1>Gifster</h1>

<% if session[:user_id] %>
  <%= form_with(url: logout_path, method: "delete") do |form| %>
    <%= form.submit "Log Out" %>
  <% end %>

  <% if flash[:message] %>
    <p><%= flash[:message] %></p>
  <% end %>

  <%= form_with(model: @gif) do |form| %>
    <%= form.label :filename %>
    <%= form.file_field :file %>

    <%= form.submit %>
  <% end %>
<% end %>

<ul>
<% @gifs.each do |gif| %>
  <li><%= link_to gif.file.blob.filename.to_s, gif_path(gif) %></li>
<% end %>
</ul>
