<h1>Sign up</h1>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<%= form_with(model: @user) do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit %>
<% end %>
